
.project-card {
  & h3 {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__gh-link {
    display: flex;
    align-items: center;
    color: $fg-color;

    [data-dark-mode] & {
      color: $color-dark-orange;
    }
  }

  & .summary {
    margin: 0;
  }
}